.présentation {
    display: flex;
    flex-direction: column;
    text-align: $centrer;
    align-items: $centrer;
    gap: 30px;
    background: $secondaire;

    .présentation__text {
        width: 100%;

        & .présentation__title {
            width: 70%;
            height: 68px;
            margin: auto;
            margin-top: 40px;
        }

        & .présentation__subtitle {
            width: 90%;
            margin: auto;
            font-weight: 300;
            font-size: 18px;
        }
    }

    .explorer button {
        width: 218px;
        margin-bottom: 60px;
        @include btn;
    }
}