.fonction {
    position: relative;
    background-color: $primaire;
    height: 440px;
    margin-top: 60px;
    h2 {
      position: absolute;
      left: 20px; 
      top: 20px;
    }
    .fonction__list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
  
}

.fonction__btn {
    position: relative;
    display: flex;
    text-align: $centrer;
    align-items: $centrer;
    background-color: $seconcaire;
    border-radius: $btn-rounded;
    height: 72.38px;
    gap: 20px;
    .fonction__text__btn {
        position: absolute;
        left: 45%;
        top: 25%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 15.67px;
        font-weight: 500;
        font-family: $police2; 
    }
    .fonction__icone {
        color: $color-4;
    }
    .fonction__number {

    }
}