.fonction {
    position: relative;
    background-color: $primaire;
    height: 440px;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        height: 228.38px;
    }
    h2 {
      position: absolute;
      left: -3px; 
      top: 1px;
    }
    .fonction__list {
        position: absolute;
        display: grid;
        grid-template-columns: 100%;
        gap: 30px;
        width: 85%;
        top: 57%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 28%);
            justify-content: $centrer;
        }
    }
  
}

.fonction__btn {
    position: relative;
    background-color: $secondaire;
    border-radius: $btn-rounded;
    height: 72.38px;
    box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.15);
    

    .fonction__text__btn {
        position: absolute;
        left: 45%;
        top: 25%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 15.67px;
        font-weight: 500;
        line-height: 19px;
    }
    .fonction__icone {
        position: absolute;
        color: $color-4;
        line-height: 19px;
        top: 31%;
        left: 10%;
        font-size: 18px;
        &:hover  {
          color: $color-6;
        }
    }
    .fonction__number {
        position: absolute;
        color: $primaire;
        background-color: $color-6;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        line-height: 25px;
        text-align: center;
        left: -3%;
        top: 9%    
    }
}