.fonction {
    background: $primaire;
    display: flex;
    flex-direction: column;
    height: 440px;

    @media screen and (min-width: $breakpoint-2) {
        padding: 0 50px;
    }

    @media screen and (min-width: $breakpoint) {
        padding: 50px 180px 50px 180px;
        height: 228.38px;
    }

    h2 {
        padding: 30px 0 5px 20px;

        @media screen and (min-width: $breakpoint-2) {
            padding: 30px 0 5px 0;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: $centrer;
        gap: 25px;

        @media screen and (min-width: $breakpoint) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .fonction__btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        height: 72.38px;
        width: 85%;
        background: $secondaire;
        border-radius: 15px;
        box-shadow: $shadow;
        transition: 200ms;

        @media screen and (min-width: $breakpoint-2) {
            width: 93%;
        }

        @media screen and (min-width: $breakpoint-2) {
            width: 85%;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.30);
        }

        .fonction__number {
            background: $color-6;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            color: $primaire;
            margin-left: -10px;
        }

        .fonction__icone {
            font-size: 18px;
            color: $color-4;
            margin-bottom: 7px;

            &:hover {
                color: $color-6;
            }
        }

        .fonction__text__btn {
            font-weight: 500;
        }
    }
}