footer {
    background: $color-8;
    color: $primaire;
    padding: 22px 25px 22px 25px;

    @media screen and (min-width: $breakpoint) {
        display: flex;
        padding: 0px 25px 30px 25px;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0;
        height: 114px;
    }

    @media screen and (min-width: $breakpoint) {
        display: flex;
        padding: 0px 25px 30px 25px;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0;
        height: 114px;
    }

    a:hover {
        text-decoration: underline;
    }

    .text-footer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $breakpoint) {
            display: flex;
            flex-direction: row;
            gap: 60px;
        }

        .liens {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media screen and (min-width: $breakpoint-2) {
                gap: 60px;
                display: flex;
                flex-direction: row;
            }

            @media screen and (min-width: $breakpoint) {
                gap: 60px;
                display: flex;
                flex-direction: row;
            }

            &__liens-1 {
                display: flex;
                flex-direction: column;
                gap: 16px;

                @media screen and (min-width: $breakpoint-2) {
                    display: flex;
                    flex-direction: row;
                }

                @media screen and (min-width: $breakpoint) {
                    display: flex;
                    flex-direction: row;
                }
            }

            &__liens-2 {
                display: flex;
                flex-direction: column;
                gap: 16px;

                @media screen and (min-width: $breakpoint-2) {
                    display: flex;
                    flex-direction: row;
                }

                @media screen and (min-width: $breakpoint) {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        h3 {
            font-family: $police1;
            font-weight: 400;

            @media screen and (min-width: $breakpoint) {
                order: 2;
                line-height: 10px;
                padding: 0 50px;
            }
        }

        &__liens {
            display: flex;
            gap: 10px;
        }
    }
}