footer {
    position: relative;
    background-color: $color-8;
    height: 186px;
    color: $primaire;
    margin-top: 20%;

    .text-footer,
    h3 {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;
        top: 60%;
        left: 32%;
        transform: translateX(-50%) translateY(-50%);
    }
    h3 {
        left: 25%;
        top: -30%;
        font-size: 18px;
        font-family: $police1;
        font-style: $style;
        font-weight: 400;
    }
}