* {
    font-family: $police2;
}

body {
    margin: 0;
    background-color: $secondaire;
}

h2 {
    font-size: $size-title;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}