body {
    margin: 0;
    font-family: $police2;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    display: grid;
    place-items: $centrer;
    height: 100vh;
    background: #0c1022;
    color: $secondaire;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    @include loader;
    animation: loader 200ms 2s forwards;
    box-shadow: $box;

    &__logo {
        @include loader-animate;
    }
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}