.header {
    position: relative;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    h1 {
        position: absolute;
        margin: 0;
        bottom: 5%;
        left: 28%;
        font-family: $police1;
        text-align: $centrer;
        font-size: 30px;
        font-style: $style;
        }
}

nav {
    display: flex;
    justify-content: $centrer;
    background-color: #EAEAEA;
    height: 50px;

    & form {
        display: flex;
        align-items: $centrer;
        gap: 17px;

        & input {
            font-size: 16px;
            font-weight: 500;
            font-family: $police2;
            border: none;
            text-align: $centrer;
            width: 109px;
        }
    }
}