.menu__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.card {
    &__img {
        height: 231px;
        width: 90%;
        border-radius: 15px;
        background-size:cover;
    }
    &__img-1 {
       background-image: url("../../src/images/restaurants/menu-1.jpg");
    }
    &__img-2 {
        background-image: url("../../src/images/restaurants/menu-2.jpg");
    }
    &__img-3 {
        background-image: url("../../src/images/restaurants/menu-3.jpg");
    }
    &__img-4 {
        background-image: url("../../src/images/restaurants/menu-4.jpg");
    }
}   