.menus__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    .badge {
        position: relative;
    }
    .badge::before {
        content: "Nouveau";
        position: absolute;
        width: 80px;
        height: 29px;
        background-color: $color-7;
        color: darken($color-7, 50%);
        display: grid;
        place-items: $centrer;
        top: 20px;
        right: 30px;
    }
}

h2 {
    margin-top: 50px;
    margin-left: 21.5px;
}

.card {
    &__img {
        height: 231px;
        width: 90%;
        border-radius: 15px;
        background-size:cover;
        margin-left: 21.5px;
        
    }
    @for $i from 1 through 4 {
        &__img-#{$i} {
            background-image: url("../../src/images/restaurants/menu-#{$i}.jpg");
        }
    }
  
}   