.banner {
    height: 275px;
    display: block;

    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        object-position: $centrer;
        display: block;
    }

    @media screen and (min-width: $breakpoint-2) {
        height: 400px;

        & img {
            height: 430px;
        }
    }

    @media screen and (min-width: $breakpoint) {
        height: 500px;

        & img {
            height: 530px;
        }
    }
}

.header i {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 19px;
}

.resto-1 {
    background: $secondaire;
    position: relative;
    margin-top: -55px;
    border-radius: 40px 40px 0 0;

    @media screen and (min-width: $breakpoint-2) {
        margin: -20px 80px 0 80px;
    }

    @media screen and (min-width: $breakpoint) {
        margin: -20px 180px 0 180px;
    }

    h2 {
        position: relative;
        display: flex;
        padding: 30px 0 30px 20px;
        gap: 40px;
        font-family: $police1;
        font-size: 28px;
        font-weight: 400;
        margin: 0;

        .heart {
            @include heart-animation;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-20%);
        }

        @media screen and (min-width: $breakpoint-2) {
            justify-content: $centrer;
        }

        @media screen and (min-width: $breakpoint) {
            justify-content: $centrer;
        }
    }
}


.grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px 0 15px;

    @media screen and (min-width: $breakpoint-2) {
        padding: 0 80px 0 80px;
    }

    @media screen and (min-width: $breakpoint) {
        padding: 0 180px 0 180px;
    }

    h3 {
        position: relative;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;

        &::after {
            content: "";
            position: absolute;
            background: $color-7;
            width: 40px;
            height: 3px;
            top: 27px;
            left: 27px;
            transform: translateX(-27px) translateY(-2px);

        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        place-items: $centrer;
        margin-bottom: 30px;
        margin-top: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.description {
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: 300ms *$i;
        }
    }

    position: relative;
    display: flex;
    background: $primaire;
    border-radius: 15px;
    width: 100%;
    height: 69px;
    box-shadow: $shadow;
    overflow: hidden;
    cursor: pointer;
    @include chargement;
    animation: chargement 3s both;
    transform-origin: top;

    &:hover {
        transform: scale(1.02);

        .description__check {
            margin-right: 0;
        }

        .far.fa-circle-check {
            @include rotate;
            animation: rotate 0.5s ease-in-out;
        }
    }

    &__name-menu {
        display: flex;
        flex-direction: column;
        padding: 12px;
        gap: 5px;
        width: 285px;
        overflow: hidden;

        h4 {
            font-size: 18px;
            margin: 0;
            overflow: hidden;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__price {
        display: flex;
        font-size: 15px;
        gap: 2px;
        align-items: flex-end;
        font-weight: 700;
        margin: 0 10px 12px auto;

        i {
            line-height: 18px;
        }
    }

    &__check {
        width: 59px;
        height: 69px;
        border-radius: 0 15px 15px 0;
        background: $color-7;
        margin-right: -60px;
        transition: all 0.5s;
        color: $primaire;
        display: grid;
        place-items: $centrer;
        font-size: 20px;
        flex-shrink: 0;
    }
}

.order {
    display: grid;
    place-items: center;

    button {
        @include btn;
        width: 186px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
}