img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: $centrer;
    display: block;
}

.header i {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateX(-50%) translateY(-50%);

    @media screen and (min-width: $breakpoint) {
        left: 3%;
    }
}

main {
    background: $secondaire;
    position: relative;
    margin-top: -20px;
    border-radius: 15px 15px 0 0;

    @media screen and (min-width: $breakpoint) {
        margin: -20px 180px 0 180px;
    }

    .header-card {
        h2 {
            display: flex;
            justify-content: $centrer;
            align-items: $centrer;
            gap: 40px;
            font-family: $police1;
            font-size: 28px;
            font-weight: 400;
            margin: 0;
        }
    }

    button {
        width: 186px;
        margin: 10px 0 40px 0;
    }
}

.body-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

    @media screen and (min-width: $breakpoint) {
        padding: 0 180px 0 180px;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        border-bottom: 3px solid $color-7;
        margin-left: 15px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        place-items: $centrer;
        margin-bottom: 30px;
    }
}

.description {
    position: relative;
    background: $primaire;
    border-radius: 15px;
    width: 93%;
    height: 69px;
    box-shadow: $shadow;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
   

    &:hover {
        transform: scale(1.05);
    }

    &:hover &__check {
        transform: translate(147px, -75px);
        opacity: 1;
    }

    &:hover &__euros {
        right: -30%;
    }

    &__name-menu {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 5px;
        width: 285px;
            
        h4 {
            font-size: 18px;
            margin: 0;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            margin: 0;    
        }
    }

    &__euros {
        position: absolute;
        top: 50%;
        left: 91%;
        transform: translateX(-50%) translateY(15%);
        font-size: 15px;
        font-weight: 700;

        p {
            margin: 0;
        }
    }

    &__check {
        background: $color-7;
        transform: translate(205px, -75px);
        opacity: 0;
        color: $primaire;
        height: 69px;
        width: 59px;
        border-radius: 0 10px 10px 0;
        margin: auto;
        display: grid;
        place-items: $centrer;
        transition: all 0.5s ease;
    }

    i {
        font-size: 20px;
    }
}

footer {
    margin: 0;
}