img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: $centrer;
}

    .header-card {
        h4 {
            display: flex;
            justify-content: $centrer;
            align-items: $centrer;
            gap: 30px;
            font-family: $police1;
            font-size: 28px;
            
        }

    }