$police1: 'Shrikhand', cursive;
$police2: 'Roboto', sans-serif;
$centrer: center;
$style: italic;
$primaire: white;
$seconcaire: #f7f7f7;
$tertiaire: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$color-4: #7e7e7e;
$color-5: #EAEAEA;
$size-title: 24px;
$size-subtitle: 18px;
$size-p: 16px;
$border-btn: 25px;
$btn-rounded: 20px;

