$police1: 'Shrikhand', cursive;
$police2: 'Roboto', sans-serif;
$centrer: center;
$style: italic;
$body-color: #f7f7f7;
$header-color: white;
$size-title: 24px;
$size-subtitle: 18px;
$size-p: 16px;
$border-btn: 25px;
$btn-rounded: 20px;