$police1: 'Shrikhand', cursive;
$police2: 'Roboto', sans-serif;
$centrer: center;
$style: italic;
$primaire: white;
$secondaire: #f7f7f7;
$tertiaire: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
$gradient: linear-gradient(360deg, #FF79DA -20%, #9356DC 123%);
$color-4: #7e7e7e;
$color-5: #EAEAEA;
$color-6: #9356DC;
$color-7:#99E2D0;
$color-8: #353535;
$size-title: 24px;
$size-subtitle: 18px;
$size-p: 16px;
$border-btn: 25px;
$btn-rounded: 20px;
$shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
$breakpoint: 1440px;
$breakpoint-2: 768px;
$box: 0 0 3vw 0vw #99E2D0,
      0 0 1vw 0vw #00f8ba,

      inset 0 0 0.5vw 0.1vw #99E2D0,
      inset 0 0 .1vw 0.1vw #00f3b6;

$text: .1vw 0vw .25vw #FF79DA,
       .15vw 0vw .25vw #FF79DA,

       .1vw 0vw .1vw #e64dbb,
       .15vw 0vw .1vw #e64dbb,
       .4vw 0vw .1vw #e64dbb,

       .1vw 0vw .2vw #ce35a3,
       .15vw 0vw .2vw #ce35a3,
       .4vw 0vw .2vw #ce35a3,

       .1vw 0vw .1vw #b12389,
       .15vw 0vw .1vw #b12389,
       .4vw 0vw .5vw #b12389;


