@import '_variables';

* {
    font-family: $police2;
}

body {
    margin: 0;
    background-color: $secondaire;
}


h2 {
    font-size: $size-title;
    font-weight: 700;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@import '_header';
@import '_button-nav';
@import '_fonction';
@import '_menu-cards';
@import '_footer';