@import '_variables';

* {
    font-family: $police2;
}
body {
    margin: 0;
    background-color: $secondaire;
}
h2 {
    font-size: $size-title;
    font-weight: 700;
}

@import '_header';
@import '_button-nav';
@import '_fonction';
@import '_menu-cards';