@charset "UTF-8";
.loader__logo span {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: #0c1022;
  z-index: 1;
}

.loader__logo h2 {
  position: relative;
  z-index: 2;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  color: white;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #0c1022;
  color: #f7f7f7;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 200ms 2s forwards;
  box-shadow: 0 0 3vw 0vw #99E2D0, 0 0 1vw 0vw #00f8ba, inset 0 0 0.5vw 0.1vw #99E2D0, inset 0 0 0.1vw 0.1vw #00f3b6;
}
@keyframes loader {
  to {
    transform: scale(0);
  }
}
.loader__logo {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader__logo::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(transparent, transparent, transparent, #ee09fa);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
.loader__logo::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: conic-gradient(transparent, transparent, transparent, #02fbbd);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.header h1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
}
nav form {
  display: flex;
  align-items: center;
  gap: 17px;
}
nav form input {
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
  width: 109px;
  background-color: #EAEAEA;
}

.présentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
  background: #f7f7f7;
}
.présentation .présentation__text {
  width: 100%;
}
.présentation .présentation__text .présentation__title {
  width: 70%;
  height: 68px;
  margin: auto;
  margin-top: 40px;
}
.présentation .présentation__text .présentation__subtitle {
  width: 90%;
  margin: auto;
  font-weight: 300;
  font-size: 18px;
}
.présentation .explorer button {
  width: 218px;
  margin-bottom: 60px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: 300ms ease-out;
}
.présentation .explorer button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.fonction {
  background: white;
  display: flex;
  flex-direction: column;
  height: 440px;
}
@media screen and (min-width: 768px) {
  .fonction {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .fonction {
    padding: 50px 180px 50px 180px;
    height: 228.38px;
  }
}
.fonction h2 {
  padding: 30px 0 5px 20px;
}
.fonction__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 25px;
}
@media screen and (min-width: 1440px) {
  .fonction__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.fonction .fonction__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 72.38px;
  width: 85%;
  background: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: 200ms;
}
@media screen and (min-width: 768px) {
  .fonction .fonction__btn {
    width: 93%;
  }
}
@media screen and (min-width: 768px) {
  .fonction .fonction__btn {
    width: 85%;
  }
}
.fonction .fonction__btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.fonction .fonction__btn .fonction__number {
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: white;
  margin-left: -10px;
}
.fonction .fonction__btn .fonction__icone {
  font-size: 18px;
  color: #7e7e7e;
  margin-bottom: 7px;
}
.fonction .fonction__btn .fonction__icone:hover {
  color: #9356DC;
}
.fonction .fonction__btn .fonction__text__btn {
  font-weight: 500;
}

.menus {
  background: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .menus {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .menus {
    padding: 50px 180px 50px 180px;
  }
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .menus .menus__cards {
    grid-template-columns: repeat(2, 48.3%);
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .menus .menus__cards {
    grid-template-columns: repeat(2, 48.3%);
    justify-content: center;
    gap: 60px;
  }
}
.menus .menus__cards .badge {
  position: relative;
}
.menus .menus__cards .badge::before {
  content: "Nouveau";
  position: absolute;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 20px;
  right: 20px;
}
.menus h2 {
  padding: 50px 0 0 10px;
}

.card {
  margin: 0 20px 0 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  animation: chargement 3s both;
}
.card:nth-child(1) {
  animation-delay: 300ms;
}
.card:nth-child(2) {
  animation-delay: 600ms;
}
.card:nth-child(3) {
  animation-delay: 900ms;
}
.card:nth-child(4) {
  animation-delay: 1200ms;
}
@keyframes chargement {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .card {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    margin: 0 20px 0 20px;
  }
}
.card__img-1 {
  background-image: url("../../src/images/restaurants/menu-1.jpg");
  height: 170px;
  width: auto;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .card__img-1 {
    background-position: center;
  }
}
.card__img-2 {
  background-position: center;
}
.card__img-2 {
  background-image: url("../../src/images/restaurants/menu-2.jpg");
  height: 170px;
  width: auto;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .card__img-2 {
    background-position: center;
  }
}
.card__img-2 {
  background-position: center;
}
.card__img-3 {
  background-image: url("../../src/images/restaurants/menu-3.jpg");
  height: 170px;
  width: auto;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .card__img-3 {
    background-position: center;
  }
}
.card__img-2 {
  background-position: center;
}
.card__img-4 {
  background-image: url("../../src/images/restaurants/menu-4.jpg");
  height: 170px;
  width: auto;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .card__img-4 {
    background-position: center;
  }
}
.card__img-2 {
  background-position: center;
}
.card__description {
  position: relative;
}
.card__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 89%;
  transform: translateX(-40%) translateY(-20%);
  color: inherit;
  background: linear-gradient(360deg, #FF79DA -20%, #9356DC 123%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.card__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 89%;
  transform: translateX(-40%) translateY(-20%);
  color: inherit;
  background: linear-gradient(360deg, #FF79DA -20%, #9356DC 123%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  opacity: 0;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
}
.card__description:active::before {
  opacity: 0;
}
.card__description:active::after {
  opacity: 1;
  top: 40%;
  left: 89%;
  transform: translateX(-40%) translateY(-20%) scale(1);
}
.card__description h3 {
  margin: 15px 15px 5px 15px;
  font-size: 18px;
}
.card__description p {
  margin: 0px 15px 15px 15px;
  font-size: 17px;
  font-weight: 300;
}

footer {
  background: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
}
@media screen and (min-width: 1440px) {
  footer {
    display: flex;
    padding: 0px 25px 30px 25px;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    height: 114px;
  }
}
footer a:hover {
  text-decoration: underline;
}
footer .text-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1440px) {
  footer .text-footer {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}
footer .text-footer .liens {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  footer .text-footer .liens {
    gap: 60px;
  }
}
footer .text-footer .liens__liens-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  footer .text-footer .liens__liens-1 {
    display: flex;
    flex-direction: row;
  }
}
footer .text-footer .liens__liens-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  footer .text-footer .liens__liens-2 {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  footer .text-footer .liens {
    display: flex;
    flex-direction: row;
  }
}
footer .text-footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  footer .text-footer h3 {
    order: 2;
    line-height: 10px;
    padding: 0 50px;
  }
}
footer .text-footer__liens {
  display: flex;
  gap: 10px;
}

.banner {
  height: 275px;
  display: block;
}
.banner img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 400px;
  }
  .banner img {
    height: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .banner {
    height: 500px;
  }
  .banner img {
    height: 530px;
  }
}

.header i {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 19px;
}

.resto-1 {
  background: #f7f7f7;
  position: relative;
  margin-top: -55px;
  border-radius: 40px 40px 0 0;
}
@media screen and (min-width: 768px) {
  .resto-1 {
    margin: -20px 80px 0 80px;
  }
}
@media screen and (min-width: 1440px) {
  .resto-1 {
    margin: -20px 180px 0 180px;
  }
}
.resto-1 h2 {
  position: relative;
  display: flex;
  padding: 30px 0 30px 20px;
  gap: 40px;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.resto-1 h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 89%;
  transform: translateX(-40%) translateY(-20%);
  color: inherit;
  background: linear-gradient(360deg, #FF79DA -20%, #9356DC 123%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.resto-1 h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 89%;
  transform: translateX(-40%) translateY(-20%);
  color: inherit;
  background: linear-gradient(360deg, #FF79DA -20%, #9356DC 123%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  opacity: 0;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
}
.resto-1 h2:active::before {
  opacity: 0;
}
.resto-1 h2:active::after {
  opacity: 1;
  top: 40%;
  left: 89%;
  transform: translateX(-40%) translateY(-20%) scale(1);
}
@media screen and (min-width: 768px) {
  .resto-1 h2 {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .resto-1 h2 {
    justify-content: center;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 768px) {
  .grid {
    padding: 0 80px 0 80px;
  }
}
@media screen and (min-width: 1440px) {
  .grid {
    padding: 0 180px 0 180px;
  }
}
.grid h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.grid h3::after {
  content: "";
  position: absolute;
  background: #99E2D0;
  width: 40px;
  height: 3px;
  top: 27px;
  left: 27px;
  transform: translateX(-27px) translateY(-2px);
}
.grid__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  place-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  position: relative;
  display: flex;
  background: white;
  border-radius: 15px;
  width: 100%;
  height: 69px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  animation: chargement 3s both;
  transform-origin: top;
}
.description:nth-child(1) {
  animation-delay: 300ms;
}
.description:nth-child(2) {
  animation-delay: 600ms;
}
.description:nth-child(3) {
  animation-delay: 900ms;
}
@keyframes chargement {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.description:hover {
  transform: scale(1.02);
}
.description:hover .description__check {
  margin-right: 0;
}
.description:hover .far.fa-circle-check {
  animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.description__name-menu {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 5px;
  width: 285px;
  overflow: hidden;
}
.description__name-menu h4 {
  font-size: 18px;
  margin: 0;
  overflow: hidden;
}
.description__name-menu p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description__price {
  display: flex;
  font-size: 15px;
  gap: 2px;
  align-items: flex-end;
  font-weight: 700;
  margin: 0 10px 12px auto;
}
.description__price i {
  line-height: 18px;
}
.description__check {
  width: 59px;
  height: 69px;
  border-radius: 0 15px 15px 0;
  background: #99E2D0;
  margin-right: -60px;
  transition: all 0.5s;
  color: white;
  display: grid;
  place-items: center;
  font-size: 20px;
  flex-shrink: 0;
}

.order {
  display: grid;
  place-items: center;
}
.order button {
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: 300ms ease-out;
  width: 186px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.order button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}/*# sourceMappingURL=styles.css.map */