* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.header {
  position: relative;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.header h1 {
  position: absolute;
  margin: 0;
  bottom: 5%;
  left: 28%;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
}
nav form {
  display: flex;
  align-items: center;
  gap: 17px;
}
nav form input {
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
  width: 109px;
  background-color: #EAEAEA;
}

.button {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
}
.button .button__text {
  width: 100%;
}
.button .button__text .button__title {
  width: 70%;
  height: 68px;
  margin: auto;
  margin-top: 40px;
}
.button .button__text .button__subtitle {
  width: 90%;
  margin: auto;
  font-weight: 300;
}
.button button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  cursor: pointer;
}

.fonction {
  position: relative;
  background-color: white;
  height: 440px;
  margin-top: 60px;
}
.fonction h2 {
  position: absolute;
  left: -3px;
  top: 1px;
}
.fonction .fonction__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 85%;
  top: 57%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fonction__btn {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 20px;
  height: 72.38px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonction__btn .fonction__text__btn {
  position: absolute;
  left: 45%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 15.67px;
  font-weight: 500;
  line-height: 19px;
}
.fonction__btn .fonction__icone {
  position: absolute;
  color: #7e7e7e;
  line-height: 19px;
  top: 31%;
  left: 10%;
  font-size: 18px;
}
.fonction__btn .fonction__number {
  position: absolute;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  line-height: 25px;
  text-align: center;
  left: -3%;
  top: 9%;
}

.menus__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.menus__cards .badge {
  position: relative;
}
.menus__cards .badge::before {
  content: "Nouveau";
  position: absolute;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 20px;
  right: 30px;
}

h2 {
  margin-top: 50px;
  margin-left: 19px;
}

.card__img {
  height: 231px;
  width: 90%;
  border-radius: 15px;
  background-size: cover;
  margin-left: 19px;
}
.card__img-1 {
  background-image: url("../../src/images/restaurants/menu-1.jpg");
}
.card__img-2 {
  background-image: url("../../src/images/restaurants/menu-2.jpg");
}
.card__img-3 {
  background-image: url("../../src/images/restaurants/menu-3.jpg");
}
.card__img-4 {
  background-image: url("../../src/images/restaurants/menu-4.jpg");
}/*# sourceMappingURL=styles.css.map */